@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* creds: https://www.julienthibeaut.xyz/blog/create-animated-gradient-borders-with-css */
.box {
  border: 1px solid #0000;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        transparent,
        transparent,
        #2563eb,
        #7c3aed,
        transparent,
        transparent
      ) border-box;
  animation: 2s rotate linear infinite;
}

.switch {
  @apply relative w-[3.25rem] h-7 checked:bg-none border-2 rounded-full cursor-pointer transition-colors ease-in-out duration-200 border-transparent ring-1 ring-transparent ring-offset-white focus:outline-none appearance-none bg-gray-700 checked:bg-blue-600 focus:ring-offset-gray-800 before:inline-block before:w-6 before:h-6 before:translate-x-0 checked:before:translate-x-full before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 before:bg-gray-400 checked:before:bg-blue-200

}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
